<h3>Search Result<h3>

<% @results.each do |result| %>  
    <%= link_to result.name, power_path(result) %><br>  
    <h3>Heroines with this power:</h3>
        <% Heroine.all.map do |heroine| %>
            <% if heroine.power_id == result.id %>
                <%= heroine.super_name %><br>
            <% else %>
                <% nil %>
            <% end %>
        <% end %>

<% end %>