<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%=link_to heroine.super_name, show_heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<hr>
<h4><%= link_to "Create New", new_heroine_path %></h4>
<hr>