<h1>Heroine: <%=@heroine.super_name%></h1>
<h3>Name: <%=@heroine.name%></h3>
<h3>Power: <%= link_to @heroine.power.name, power_path(@heroine.power)%></h3>

<br>
<br>
<h5><%= link_to "Return to main page", heroines_path%></h5>